<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inflectra.RemoteLaunch.Engines.TestCompleteEngine.TestComplete12.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Inflectra.RemoteLaunch.Engines.TestCompleteEngine.TestComplete12.Properties.Settings>
            <setting name="ApplicationVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WaitTimeMilliseconds" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="CloseApplicationAfterTest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeEventMessages" serializeAs="String">
                <value>True</value>
            </setting>
        </Inflectra.RemoteLaunch.Engines.TestCompleteEngine.TestComplete12.Properties.Settings>
    </userSettings>
</configuration>